%header
  .logo
    %a{:href => "/"}
      %img{:alt => "Logo", :src => "images/logo/writespeakcode.svg"}/

  %nav.main-nav-wrapper
    %ul.main-nav
      %li.nav-link.about.more
        %a{ href:"/about" } About
        %ul.submenu
          %li
            %a{ href:"/about/organizers"} Organizers
          %li
            %a{ href:"/chapters" } Chapters
          %li
            = link_to "Code of Conduct", "/about/code-of-conduct"
      %li.nav-link.blog
        %a{ href:"/blog" } Blog

      %li.nav-link.sponsors
        %a{ href:"/sponsor" } Sponsor
      %li
        %a.subnav-trigger{href: "#0"}
          %span Events
        %ul
          %li.go-back
            %a{:href => "#0"} Menu
          %li.nav-link.events
            %a{ href:"/events" } Workshops
          %li.nav-link.more.conference
            %a{ href:"/conference" } Conference
            %ul.submenu
              %li
                = link_to 'Our Sponsors!', '/conference/sponsors'
              %li.divided
                = link_to 'Write - Thurs 3/19', '/conference/write'
              %li
                = link_to 'Speak - Fri 3/20', '/conference/speak'
              %li
                = link_to 'Code - Sat 3/21', '/conference/code'
              %li.divided
                = link_to 'Sponsor conference', '/sponsor'
              %li
                = link_to 'Scholarships', '/conference/scholarships'
              %li.divided
                = link_to 'Speakers', '/conference/speakers'
              %li
                = link_to 'Schedule', '/conference/schedule'
              %li
                = link_to 'Program of Events', '/conference/program'
              %li.divided
                = link_to 'Testimonials', '/conference/testimonials'
              %li
                = link_to 'Childcare', '/conference/childcare'
              %li
                = link_to 'Accessibility', '/conference/childcare'


        -#%ul.submenu
          -#%li
            -#%a{ href:"/events/workshops"} Workshops
          -#%li
            -#%a{ href:"/events/custom" } Training &amp; Custom

  %a.nav-trigger{:href => "#0"}
    Menu
    %span
    
  -# %div.navigation-tools
  -#   %div.search-bar
  -#     = partial "mailchimp"
