---
layout: base_layout
---

%section#banner.banner
  .overlay
  .wrap
    .copy-wrap
      %h2 Visibility &nbsp;<span class="wsc-ampersand"></span> Leadership <span>for</span>
      %h1 Women <span>Software Developers</span>


%section#banner2.banner
  .wrap
    .copy-wrap
      %h3
        Write/Speak/Code is on a mission to empower women software developers to become <span>thought leaders</span>, <span>conference speakers</span>, and <span>open source</span> <span>contributors</span>.
    .icons-wrap
      .icons.icons-shadow
        = icon_for("write-solid")
        = icon_for("speak-solid")
        = icon_for("code-solid")
      .icons
        = icon_for("write")
        = icon_for("speak3")
        = icon_for("code")
%section#banner3.banner
  .row-wrap
    .copy-wrap
      %h2= "We run #{link_to 'conferences', '#'} and #{link_to 'events', '#'} events across the US.".html_safe

